[Unit]
Description=Create smartmeter influx DB with retention policy
Requires=influxdb.service
After=influxdb.service
Before=telegraf.service

[Service]
Type=oneshot
ExecStart=/usr/bin/influx -execute 'CREATE DATABASE smartmeter WITH DURATION 31d REPLICATION 1 NAME onemonth'

[Install]
WantedBy=multi-user.target
